.navbar {
    background-color: #fff;
}

.navbar-button {
    font-style: normal;
    box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
    letter-spacing: .1em;
    border-radius: 100px;
    background-color: #34d186 !important;
    padding: 10px;
    color: white !important;
    font-weight: 600;
    min-width: 100px;
    border: none;
}